@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

i {
  cursor: pointer;
}

body {
  background: #121212;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track-piece {
  background: #333232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2691e;
  border-radius: 10px;
  height: 10px;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ece7e7;
  background: #121212;
  position: fixed;
  z-index: 2;
  transition: transform 2s;
  overflow: hidden;
}

.intro .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacity1 2s ease-in-out;
}

@keyframes opacity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro .content button {
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 18px;
  color: #ece7e7;
  background: #d2691e;
  border-radius: 5px;
}

main .hero-projects-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px 2300px;
}

main .hero-projects-skills .hero-section::before {
  content: '';
  background: url("../images/laptop.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(50%);
}

main .hero-projects-skills .hero-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 5px 5px 3px #272626;
  animation: translate 2s ease-in-out;
}

main .hero-projects-skills .hero-section .content {
  padding-left: 3rem;
  position: relative;
  z-index: 1;
  color: #ece7e7;
}

main .hero-projects-skills .hero-section .content h1 {
  font-weight: 500;
  font-size: 50px;
}

main .hero-projects-skills .hero-section .content h1 span span {
  border-right: 0.2rem solid #ece7e7;
}

main .hero-projects-skills .hero-section .content h2 {
  font-weight: 500;
}

main .hero-projects-skills .skills {
  align-self: center;
}

main .hero-projects-skills .skills header {
  display: flex;
  justify-content: center;
}

main .hero-projects-skills .skills header h1 {
  color: #d2691e;
  font-size: 40px;
  font-weight: 500;
}

main .hero-projects-skills .skills .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .hero-projects-skills .skills .content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

main .hero-projects-skills .skills .content div h2 {
  color: #ece7e7;
  font-weight: 500;
}

main .hero-projects-skills .skills .content div i {
  font-size: 150px;
  color: #d2691e;
}

main .hero-projects-skills .projects {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0 1rem;
  color: #ece7e7;
  animation: translate 2s ease-in-out;
  grid-column: 1/-1;
}

main .hero-projects-skills .projects header {
  margin-bottom: 1rem;
}

main .hero-projects-skills .projects header h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: #d2691e;
}

main .hero-projects-skills .projects .content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

main .hero-projects-skills .projects .content div {
  width: 500px;
  margin: 1rem 0;
}

main .hero-projects-skills .projects .content div h4 {
  font-size: 13px;
}

main .hero-projects-skills .projects .content div h4 a {
  color: #d2691e;
}

main .hero-projects-skills .projects .content div * {
  font-weight: 500;
}

main .hero-projects-skills .projects .content img {
  height: 400px;
  max-width: 300px;
  margin-top: 1rem;
}

@keyframes translate {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}

main .about-me {
  color: #ece7e7;
  border-top: 2px solid white;
  margin-top: 3rem;
  padding: 2rem 0;
  grid-row: 3/-1;
  align-self: center;
  line-height: 2;
}

main .about-me .content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .about-me .content h1 {
  font-size: 40px;
  color: #d2691e;
}

main .about-me .content h1,
main .about-me .content h2,
main .about-me .content h3 {
  font-weight: 500;
}

footer {
  color: #ece7e7;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

footer .contact h2,
footer .contact h5 {
  font-weight: 500;
}

footer .contact h5 {
  margin: 0.5rem 0 0 0;
}

footer .social {
  margin-bottom: 1rem;
  padding: 1rem 0;
}

footer .social a i {
  font-size: 2rem;
  color: #d2691e;
  margin: 0 0.3rem;
}

footer .copyright {
  position: absolute;
  bottom: 0;
}

footer .fa-arrow-up {
  font-size: 50px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #d2691e;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */