@media (max-width: 1200px) {
  main {
    .hero-projects-skills {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 3500px;
      .hero-section {
        height: 100vh;
      }
      .projects {
        padding: 0 2rem;

        .content {
          width: 100%;
          flex-direction: column;
          div {
            width: 100%;
          }
          div:first-child {
            margin-bottom: 2rem;
          }
        }
      }
      .skills {
        width: 100%;
        .content {
          justify-content: space-evenly;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  main {
    .hero-projects-skills {
      .hero-section {
        .content {
          h1 {
            font-size: 35px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  main {
    .hero-projects-skills {
      height: 3200px;
      .projects {
        header {
          h1 {
            font-size: 30px;
          }
        }
        .content {
          div {
            h2 {
              font-size: 19px;
            }
            h3 {
              font-size: 15px;
            }
            h4 {
              font-size: 12px;
            }
          }
        }
      }
      .skills {
        header {
          h1 {
            font-size: 30px;
          }
        }
        .content {
          justify-content: space-around;

          div {
            h2 {
              font-size: 20px;
            }
            i {
              font-size: 80px;
            }
          }
        }
      }
    }
    .about-me {
      .content {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  footer {
    .contact {
      h2 {
        font-size: 20px;
      }
    }
    .fa-arrow-up {
      font-size: 30px;
      bottom: 2rem;
    }
  }
}

@media (max-width: 450px) {
  main {
    .hero-projects-skills {
      .hero-section {
        .content {
          padding-left: 1rem;
          h1 {
            font-size: 27px;
          }
          h2 {
            font-size: 18px;
          }
        }
      }
      .projects {
        padding: 0 1rem;
      }
    }
  }
  footer {
    .contact {
      h2 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 350px) {
  main {
    .hero-projects-skills {
      .content {
        div {
          h2 {
            font-size: 15px;
          }
        }
      }
    }
  }
  .about-me {
    .content {
      h1 {
        font-size: 25px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}
footer {
  .contact {
    h2 {
      font-size: 14px;
    }
  }
}
