@import 'utilities';

$primary-color: #ece7e7;
$secondary-color: #d2691e;
$background-color: #121212;

body {
  background: $background-color;
}
/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track-piece {
  background: #333232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
  height: 10px;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background: $background-color;
  position: fixed;
  z-index: 2;
  transition: transform 2s;
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: opacity1 2s ease-in-out;

    @keyframes opacity1 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    button {
      padding: 1rem;
      margin-top: 1rem;
      font-weight: 600;
      font-size: 18px;
      color: $primary-color;
      background: $secondary-color;
      border-radius: 5px;
    }
  }
}

main {
  .hero-projects-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 800px;

    .hero-section::before {
      content: '';
      background: url('../images/laptop.jpg') center no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: brightness(50%);
    }
    .hero-section {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      box-shadow: 5px 5px 3px #272626;
      animation: translate 2s ease-in-out;

      .content {
        padding-left: 3rem;
        position: relative;
        z-index: 1;
        color: $primary-color;

        h1 {
          font-weight: 500;
          font-size: 50px;
          span {
            span {
              border-right: 0.2rem solid $primary-color;
            }
          }
        }
        h2 {
          font-weight: 500;
        }
      }
    }

    .skills {
      align-self: center;
      header {
        display: flex;
        justify-content: center;

        h1 {
          color: $secondary-color;
          font-size: 40px;
          font-weight: 500;
        }
      }
      .content {
        display: flex;

        justify-content: space-around;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;
          h2 {
            color: $primary-color;
            font-weight: 500;
          }
          i {
            font-size: 150px;
            color: $secondary-color;
          }
        }
      }
    }

    .projects {
      display: flex;
      flex-direction: column;
      padding: 3rem 1rem 0 1rem;
      color: $primary-color;
      animation: translate 2s ease-in-out;
      grid-column: 1/-1;
      header {
        h1 {
          text-align: center;
          font-weight: 500;
          font-size: 40px;
          color: $secondary-color;
        }
      }
      .content {
        display: flex;

        text-align: center;

        div {
          width: 80%;
          margin: 1rem 0;
          img {
            height: 400px;
            max-width: 300px;
            margin-top: 1rem;
            border: 1px $primary-color;
            border-style: dotted;
          }

          h4 a {
            color: $secondary-color;
          }
        }
      }

      & * {
        font-weight: 500;
      }
    }
  }
  @keyframes translate {
    from {
      transform: translateY(-2000px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .about-me {
    color: $primary-color;
    border-top: 2px solid white;
    margin-top: 3rem;
    padding: 2rem 0;
    grid-row: 3/-1;
    align-self: center;
    line-height: 2;
    .content {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 40px;
        color: $secondary-color;
      }
      h1,
      h2,
      h3 {
        font-weight: 500;
      }
    }
  }
}

footer {
  color: $primary-color;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  .contact {
    h2,
    h5 {
      font-weight: 500;
    }
    h5 {
      margin: 0.5rem 0 0 0;
    }
  }

  .social {
    margin-bottom: 1rem;
    padding: 1rem 0;
    a {
      i {
        font-size: 2rem;
        color: $secondary-color;
        margin: 0 0.3rem;
      }
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
  }
  .fa-arrow-up {
    font-size: 50px;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: $secondary-color;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
